*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* --main-background: #fff;
    --main-color: #6c757d;
    --second-color: rgba(36, 32, 32, 0.1);
    --title-color: black;   
    --green-bg: #65c0ba;  */
}
body{
    font-family: "Rubik",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: white;
}  
ul{
    list-style: none;
}

a{
    color: var(--main-background);
    text-decoration: none;
}
img {
    max-width: 100%;
  }
  

/* header */
.header-top,.header-bottom{
  background: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-size: 13px;
}
.header-top-left ul{
  display: flex;
  gap: 20px;
}
.header-top-left ul li {
  position: relative;
  color: #1c1c1c;
}
.header-top-left ul li .line::after, .header-top-right-social .line::after,.header-top-right-language .line::after, 
.search-box .line::after{
  position: absolute;
  right: -11px;
  top: 0px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: "";
}
.header-top-right-social,.header-top-right-language, .header-cart ul li a{
  position: relative;
}
.header-top-right-social .line::after{
  right: -5px;
}
.header-top-right-language .line::after{
  right: -10px;
}
.search-box .line::after{
  left: 30%;
  top: 30%;
}
.header-top-right-language img{
  margin: -1px 5px 0 0;
}
.header-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-top-right-social a{
  margin-right: 12px;
}
.header-top-right-social a i,.header-top-right-auth a,.header-cart a i{
  color: black;
  text-decoration: none;
}
.header-top-right-auth a i{
  margin-right: 5px;
}

/* headerBottom */
.header-bottom{
  background-color: transparent;
}
.header-bottom .header-menu ul{
  display: flex;
  align-items: center;
  gap: 45px;
}
.header-menu ul li a {
  font-size: 13px;
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all, 0.3s;
  text-decoration: none;
}
.header-menu ul li.active a {
  color: #7fad39;
}

.header-cart{
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-cart ul{
  display: flex;
  gap: 25px;
  font-size: 18px;
}
.header-cart ul li a span {
  height: 13px;
  width: 13px;
  background: #7fad39;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  right: -12px;
}
.header-cart .header-cart-price {
  font-size: 14px;
  color: #6f6f6f;
}
.header-cart .header-cart-price span {
  color: #252525;
  font-weight: 700;
}

/* intro section */
.search-box {
  border: 1px solid #e4e4e4;
  position: relative;
}

.search-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.search-categories strong {
  font-size: 14px;
}

.search-field {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.search-field button {
  padding: 0 25px;
  border: none;
  background: #7fad39;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  padding: 12px;
  width: 100%;
}

.search-input::placeholder {
  color: #d1d1d1;
}

.support {
  justify-content: end;
}

.support .phone-icon .fas {
  transform: rotate(90deg);
  color: #7fad39;
}

.phone-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #7ead3912;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  margin-left: 20px;
}

.number h5 {
  font-weight: 800;
  font-size: 18px;
}

.number h6 {
  font-size: 14px;
  font-weight: 400;
}

.accordion-button {
  background-color: #7fad39 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.accordion-body .nav-item .nav-link {
  letter-spacing: 1px;
  padding: 5px 18px;
}

.banner {
  background-image: url(../images/banner/banner.jpg.webp);
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 100px 0 100px 65px;
}

.banner h6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #7fad39;
}

.banner h1 {
  font-weight: 800;
  font-size: 46px;
  line-height: 52px;
  color: #1c1c1c;
}

.banner p {
  color: #6f6f6f;
}

.banner button {
  border: none;
  display: inline-block;
  font-size: 14px;
  padding: 10px 28px 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  background: #7fad39;
  letter-spacing: 2px;
}

/* card section  */
.card .position-control-team {
    margin-top: -56px;
    background-color: white;
    color: rgb(46, 41, 41);
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
}

.card .position-control-team:hover{
  background-color: #7fad39;
  color: white;
}

.card-group {
    margin-top: 50px;
}

/* featured section  */
.feature-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-nav .nav-a2 {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
}

.feature-nav-item {
    position: relative;
    margin: 0 15px;
    margin-bottom: 10px;
}

.feature-nav-item.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #7fad39;
}

/* collection section  */
.accordion-body{
  border: none;
}

/* review section  */

.product-content {
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
}

.product-header {
  margin-bottom: 0;
  font-weight: 900;
}

.product-btn {
  width: 30px;
  height: 30px;
  background: #f3f6fa;
  border: 1px solid #e6e6e6;
  line-height: 30px;
}

.product-details {
  display: flex;
  margin: 10px 0;
}

.product-name{
  font-weight: 300;
}

.product-price {
  font-size: 18px;
  color: #252525;
  font-weight: 900;
}

.product-text {
  margin-left: 10px;
}

/* blog section */
.blog-item {
  margin-bottom: 30px;
}

.item-text {
  padding-top: 25px;
}

.item-text ul {
  padding-left: 0;
}

.item-text ul li {
  font-size: 16px;
  color: #b2b2b2;
  display: inline-block;
  margin-right: 15px;
}

.item-text h5 {
  margin: 0;
  color: #111;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
}

.item-text h5 a {
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 700;
  text-decoration: none;
}

.item-text p {
  font-size: 14px;
  font-family: "Cairo", sans-serif;
  color: #6f6f6f;
  margin: 0 0 15px 0;
}

/* footer */
.footer-area {
  background-color: #f3f6fa;
}

.list li {
  padding: 6px 0;
}


.list li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: all 0.3s;
}

.list li a:hover {
  color: #7fad39;
}

.p {
  font-size: 14px;
  margin: 15px 0 20px 0;
}

.input-field {
  position: relative;
}

.input {
  border: 1px solid #e7e6e6;
  padding: 10px 15px;
  width: 100%;
}

.button {
  border: 0;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #7fad39;
  color: white;
  font-weight: bold;
  height: 100%;
}

.icon i {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border: 1px solid #e7e6e6;
  transition: all 0.3s;
  cursor: pointer;
}

.icon i:hover {
  background-color: #7fad39;
  color: white;
}

.footer-line {
  border-top: 1px solid #ebebeb;
  font-size: 13px;
}

.footer-line a {
  text-decoration: none;
}

.footer-line .logo{
  width: 25;
}
